<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zw.android_flutter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidflutter">
        <activity android:name=".activity.demo.OKHttpActivity" />
        <activity android:name=".activity.demo.NativeActivity" />
        <activity android:name=".activity.demo.SortActivity" />
        <activity android:name=".activity.demo.Demo3Activity" />
        <activity android:name=".mv_x.mvp.MVPActivity" />
        <activity android:name=".activity.demo.List_Recycler_View_Activity" />
        <activity android:name=".activity.demo.TaskActivity" />
        <activity
            android:name=".activity.demo.LifeCycleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.test.xxxx" />

                <category android:name="com.test.xxxx" />
                <category android:name="android.intent.category.DEFAULT" /> <!-- 必须有这个 -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.demo.TestServiceActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.IMyAidlInterfaceService"
            android:enabled="true"
            android:exported="true"
            android:process="com.xxx.test.aaa" />
        <service android:name=".activity.demo.CheckServicesForApps" />

        <activity android:name=".activity.demo.TestFragmentActivity" />
        <activity android:name=".activity.demo.Demo2Activity" />
        <activity
            android:name=".activity.demo.Demo1Activity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.zw.test" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.zw.test.category" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.flutter.FlutterEngineGroupActivity" />
        <activity android:name=".activity.flutter.MethodChannelDemoActivity" />
        <activity android:name=".activity.flutter.FlutterActivity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.TestContentProvider"
            android:authorities="www.zw.test"
            android:process=":com.test.p" />
    </application>

</manifest>